In [1]:
import pandas as pd 
import numpy as np

In [2]:
SCC=pd.read_excel("Gestión de Leads_SCC.xlsx")

In [3]:
SCC.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62831 entries, 0 to 62830
Data columns (total 28 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   FECHA_GESTION                   62831 non-null  object
 1   HORA_GESTION                    62831 non-null  object
 2   DURACION                        62831 non-null  int64
 3   DNI_AGENTE                      62831 non-null  int64
 4   DESCRIPCION_AGENTE              62831 non-null  object
 5   DESCRIPCION_GRUPO_TIPIFICACION  62831 non-null  object
 6   DESCRIPCION_TIPIFICACION        62784 non-null  object
 7   OBSERVACIONES                   4365 non-null   object
 8   CODIGO_GESTION                  62831 non-null  int64
 9   CODIGO_AGENTE                   62831 non-null  int64
 10  TELEFONO_GESTION                62831 non-null  int64
 11  AFILIADOS                       815 non-null    float64
 12  FRECUENCIA_PAGO                 815 non-null    object
 13  PROGRAMA_AFILIADO               815 non-null    object
 14  TIPO_VENTA                      815 non-null    object
 15  SERVICIO                        815 non-null    object
 16  BBDD                            62831 non-null  object
 17  TYPE_LIST_DATE                  62831 non-null  datetime64[ns]
 18  VENTA_ANI                       815 non-null    float64
 19  VENTA_CELULAR                   815 non-null    float64
 20  DNI_CONTRATANTE                 815 non-null    float64
 21  NOMBRE_CONTRATANTE              812 non-null    object
 22  INTEGRACION                     45823 non-null  object
 23  UTM_CAMPAIGN                    39567 non-null  object
 24  UTM_CONTENT                     36252 non-null  object
 25  UTM_MEDIUM                      36657 non-null  object
 26  UTM_SOURCE                      38121 non-null  object
 27  PRIORIDAD                       62831 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(6), object(17)
memory usage: 13.4+ MB

In [5]:
SCC['FECHA_GESTION'].unique()

array(['16/02/2023', '02/02/2023', '28/02/2023', '09/02/2023',
       '11/02/2023', '15/02/2023', '10/02/2023', '23/02/2023',
       '24/02/2023', '25/02/2023', '27/02/2023', '14/02/2023',
       '22/02/2023', '08/02/2023', '06/02/2023', '18/02/2023',
       '17/02/2023', '21/02/2023', '13/02/2023', '03/02/2023',
       '20/02/2023', '07/02/2023', '04/02/2023', '01/02/2023'],
      dtype=object)

In [8]:
SCC.head()

,FECHA_GESTION,HORA_GESTION,DURACION,DNI_AGENTE,DESCRIPCION_AGENTE,DESCRIPCION_GRUPO_TIPIFICACION,DESCRIPCION_TIPIFICACION,OBSERVACIONES,CODIGO_GESTION,CODIGO_AGENTE,...,VENTA_ANI,VENTA_CELULAR,DNI_CONTRATANTE,NOMBRE_CONTRATANTE,INTEGRACION,UTM_CAMPAIGN,UTM_CONTENT,UTM_MEDIUM,UTM_SOURCE,PRIORIDAD
0,16/02/2023,15:01:11,0,76134563,MARIA TERESA NUÑEZ HERRERA,CONTACTO VÁLIDO,NO DESEA / CUENTA OTRO SEGURO,NaN,70641054,10206,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1,02/02/2023,12:42:24,103,44881000,ERWIN MACEDO MEZA,CONTACTO VÁLIDO,VENTA SAP,FICHA DE PRUEBA,70413086,7555,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2,02/02/2023,12:48:05,23,44881000,ERWIN MACEDO MEZA,CONTACTO VÁLIDO,VENTA SAP,FICHA DE PRUEBA,70413274,7555,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
3,28/02/2023,16:13:52,0,76878427,HANNI BETTY NANCHI MAYAK,NO CONTACTO,TIMBRE SIN CONTESTAR,NaN,70859311,10192,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
4,09/02/2023,12:45:11,0,72657892,YOMAIRA CAMILA CAMA ALBINAGORTA,NO CONTACTO,TIMBRE SIN CONTESTAR,NaN,70521577,10172,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

In [10]:
SCC.columns

Index(['FECHA_GESTION', 'HORA_GESTION', 'DURACION', 'DNI_AGENTE',
       'DESCRIPCION_AGENTE', 'DESCRIPCION_GRUPO_TIPIFICACION',
       'DESCRIPCION_TIPIFICACION', 'OBSERVACIONES', 'CODIGO_GESTION',
       'CODIGO_AGENTE', 'TELEFONO_GESTION', 'AFILIADOS', 'FRECUENCIA_PAGO',
       'PROGRAMA_AFILIADO', 'TIPO_VENTA', 'SERVICIO', 'BBDD', 'TYPE_LIST_DATE',
       'VENTA_ANI', 'VENTA_CELULAR', 'DNI_CONTRATANTE', 'NOMBRE_CONTRATANTE',
       'INTEGRACION', 'UTM_CAMPAIGN', 'UTM_CONTENT', 'UTM_MEDIUM',
       'UTM_SOURCE', 'PRIORIDAD'],
      dtype='object')

In [12]:
SCC.DESCRIPCION_GRUPO_TIPIFICACION.unique()

array(['CONTACTO VÁLIDO', 'NO CONTACTO', 'CONTACTO NO VÁLIDO'],
      dtype=object)

In [16]:
SCC.groupby('DESCRIPCION_GRUPO_TIPIFICACION')['TELEFONO_GESTION'].count()

DESCRIPCION_GRUPO_TIPIFICACION
CONTACTO NO VÁLIDO    16162
CONTACTO VÁLIDO       15405
NO CONTACTO           31264
Name: TELEFONO_GESTION, dtype: int64

In [18]:
SCC.groupby('DESCRIPCION_GRUPO_TIPIFICACION')['TELEFONO_GESTION'].nunique()

DESCRIPCION_GRUPO_TIPIFICACION
CONTACTO NO VÁLIDO    13371
CONTACTO VÁLIDO        9651
NO CONTACTO           12856
Name: TELEFONO_GESTION, dtype: int64

In [23]:
telefonos=SCC['TELEFONO_GESTION'].unique()

In [58]:
telefonos[2]

982265429

In [59]:
df_temp=SCC[SCC['TELEFONO_GESTION']==982265429]

In [60]:
df_temp

,FECHA_GESTION,HORA_GESTION,DURACION,DNI_AGENTE,DESCRIPCION_AGENTE,DESCRIPCION_GRUPO_TIPIFICACION,DESCRIPCION_TIPIFICACION,OBSERVACIONES,CODIGO_GESTION,CODIGO_AGENTE,...,VENTA_ANI,VENTA_CELULAR,DNI_CONTRATANTE,NOMBRE_CONTRATANTE,INTEGRACION,UTM_CAMPAIGN,UTM_CONTENT,UTM_MEDIUM,UTM_SOURCE,PRIORIDAD
3,28/02/2023,16:13:52,0,76878427,HANNI BETTY NANCHI MAYAK,NO CONTACTO,TIMBRE SIN CONTESTAR,NaN,70859311,10192,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

In [61]:
df_temp_CV=df_temp[df_temp['DESCRIPCION_GRUPO_TIPIFICACION']=='CONTACTO VÁLIDO']

In [62]:
df_temp_CV

Empty DataFrame
Columns: [FECHA_GESTION, HORA_GESTION, DURACION, DNI_AGENTE, DESCRIPCION_AGENTE, DESCRIPCION_GRUPO_TIPIFICACION, DESCRIPCION_TIPIFICACION, OBSERVACIONES, CODIGO_GESTION, CODIGO_AGENTE, TELEFONO_GESTION, AFILIADOS, FRECUENCIA_PAGO, PROGRAMA_AFILIADO, TIPO_VENTA, SERVICIO, BBDD, TYPE_LIST_DATE, VENTA_ANI, VENTA_CELULAR, DNI_CONTRATANTE, NOMBRE_CONTRATANTE, INTEGRACION, UTM_CAMPAIGN, UTM_CONTENT, UTM_MEDIUM, UTM_SOURCE, PRIORIDAD]
Index: []

[0 rows x 28 columns]

In [64]:
df_temp

,FECHA_GESTION,HORA_GESTION,DURACION,DNI_AGENTE,DESCRIPCION_AGENTE,DESCRIPCION_GRUPO_TIPIFICACION,DESCRIPCION_TIPIFICACION,OBSERVACIONES,CODIGO_GESTION,CODIGO_AGENTE,...,VENTA_ANI,VENTA_CELULAR,DNI_CONTRATANTE,NOMBRE_CONTRATANTE,INTEGRACION,UTM_CAMPAIGN,UTM_CONTENT,UTM_MEDIUM,UTM_SOURCE,PRIORIDAD
3,28/02/2023,16:13:52,0,76878427,HANNI BETTY NANCHI MAYAK,NO CONTACTO,TIMBRE SIN CONTESTAR,NaN,70859311,10192,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

In [65]:
df_temp_CV.empty

True

In [ ]:
for cel in telefonos: 
    df_temp=SCC[SCC['TELEFONO_GESTION']==i]
    df_temp_CV=df_temp[df_temp['DESCRIPCION_GRUPO_TIPIFICACION']=='CONTACTO VÁLIDO']
    if df_temp_CV.empty==True:
        df_concatencar=df_temp
    else:
        df_concatencar=df_temp_CV